/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:400,100,300,700,500|Helvetica+Neue");
$base-font: "Raleway", "Raleway", "sans-serif";
$header-font: "Helvetica Neue", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #FF8D86;

$white: #FFFFFA;
$blue: #469AE0;
$yellow: #FFC52B;
$orange: #E67E22;
$green: #76af5f;
$gray: #1E402D;
