.show-picture {
  padding-top: 20px;
}

#map {
  width: 90%;
  height: 400px;
  background-color: grey;
  margin: auto;
}

.animal-pic {
  height: 60vh;
}

.carousel {
  width: 100vw;
  margin-top: 70px;
}

.animal-name {
  padding: 30px;
  font-weight: lighter;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  i {
    font-size: 30px;
  }
}

.pink-wrapper {
  background-color: RGBA(237, 149, 142, 0.1);
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.animal-panels {
  padding: 30px;
  h3 {
    padding-bottom: 20px;
  }
}

.animal-h2 {
  padding: 15px;
}

.white-container {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  width: 45%;
  margin: auto;
  margin-bottom: 40px;
}

.booking-container {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.book-animal {
  padding-top: 10px;
}

.pick-date {
  input {
    width: 0.5em;
  }
}

.header-align {
  display: flex;
  align-items: center;
}

.spaced-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bottom-margin{
  margin-bottom: 20px;
}

.panel-margin{
  margin-right: 30px;
}

// .scroll{
//   overflow: scroll;
// }
