.show-picture {
  padding-top: 20px;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.animal-pic {
  height: 40vh;
  width: 100%;
}

.carousel {
  width: 700px;
  margin: auto;
  margin-top: 70px;
}

.animal-name {
  padding: 30px;
}
