/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.featured {
  h1 {
    font-family: "Raleway", sans-serif;
  }
}

form {
  #species {
    background-color: white;
    color: $gray;
    height: 40px;
  }
}
