<div class="container">

  <h1 class="text-center">
    Book <%= @animal.name %> the <%= @animal.species %>
  </h1>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= render "form" %>
    </div>
  </div>
</div>
