.clear-header {
  margin-top: 2vmin;
  padding: 3vmin;
  border-bottom: 1px solid lightgray;
    h1, h2 {
      font-family: "Raleway";
      font-weight: lighter;
    }
    h1 {
      font-size: 4.5vmin;
    }
    h2 {
      font-size: 3.5vmin;
    }
}

.padded-boxling {
  padding: 2.5vmin;
  a {
    font-size: 3vmin;
    &:hover {
      text-decoration: none;
    }
  }
}

.spaced-elements {
  padding: 2.5vmin;
  border-bottom: 1px solid RGBA(211, 211, 211, 0.5);
  i {
    padding: 1vmin;
    font-size: 2.5vmin;
    color: $brand-success;
  }
}
