<h1> This is where I see a specific review! </h1>

<%= @animalreview.comment  %>


<h3>Reviews!</h3>
   <ul>
     <% @animal.animalreviews.each do |review| %>
       <li>
       <% rating = review.rating.to_i %>
       <% rating.times do %>
         <i class="fa fa-star" aria-hidden="true"></i>
       <% end %> -
       <%= review.comment %>
       </li>
     <% end %>
   </ul>
